###############################################################################
# Mind the end of your line: http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
###############################################################################

###############################################################################
# SHORTHAND FOR TEXT FILES
#  - Treat them as text
#  - Ensure LR line-endings on checkin, CRLF on checkout
#  - Detect whitespace errors
#   - Exposed by default in `git diff --color` on the CLI.
#   - Validate with `git diff --check`.
#   - Deny applying with `git apply --whitespace=error-all`.
#   - Fix automatically with `git apply --whitespace=fix`.
###############################################################################
[attr]cleantext    text eol=crlf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=4

###############################################################################
# DEFAULT VALUE
#  - Treat unknown files as binary
#  - Do NOT do line ending conversions
###############################################################################
* binary diff


###############################################################################
# SPECFIC OVERRIDES
# Note: you probably don't want to use union for merges in project files
# See Phil Haack of GitHub's explanation: http://haacked.com/archive/2014/04/16/csproj-merge-conflicts/

# You can check for new extensions by executing the following PowerShell script
# Get-ChildItem . -Include *.* -Recurse | Select-Object Extension | Sort-Object -Property Extension -Unique
###############################################################################
LICENSE           cleantext
MAKEFILE          cleantext
README            cleantext
*.bs              cleantext
*.css             cleantext
*.csv             cleantext
*.fakes           cleantext
*.fakesconfig     cleantext
*.gitattributes   cleantext
*.gitconfig       cleantext
*.gitignore       cleantext
*.gitmodules      cleantext
*.html            cleantext diff=html
*.include         cleantext
*.js              cleantext
*.json            cleantext
*.markdown        cleantext
*.md              cleantext
*.sh              text eol=lf
*.svg             cleantext
*.txt             cleantext
*.xml             cleantext
*.xsd             cleantext
*.yml             cleantext
